@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  src: url("zOL64pLDlL1D99S8g8PtiKchq-dmiQ.eot")/*tpa=http://fonts.gstatic.com/s/abrilfatface/v11/zOL64pLDlL1D99S8g8PtiKchq-dmiQ.eot*/;
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url("jizaRExUiTo99u79D0KEwQ.eot")/*tpa=http://fonts.gstatic.com/s/ptsans/v11/jizaRExUiTo99u79D0KEwQ.eot*/;
}
