@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url("u-440qyriQwlOrhSvowK_l5-fCZI.eot")/*tpa=https://fonts.gstatic.com/s/merriweather/v21/u-440qyriQwlOrhSvowK_l5-fCZI.eot*/;
}
