@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: url("KFOjCneDtsqEr0keqCMhbCc6CsA.eot")/*tpa=https://fonts.gstatic.com/s/ubuntumono/v9/KFOjCneDtsqEr0keqCMhbCc6CsA.eot*/;
}
